.match {
    text-align: center;
    font-size: 1.3em;
    color: #e1e1e1;
}

.bold{
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.metadata-column {
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}

.current-match, .clock {
	font-size: 5rem !important;
	text-align: center;
}
