.match {
    text-align: center;
    font-size: 1.3em;
    color: #e1e1e1;
}

.bold{
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.metadata-column {
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
}

.clock, .current-match, .current-stage {
	line-height: 1em;
}

.clock {
	font-size: 8rem !important;
    white-space: nowrap;
}

.current-stage {
	font-size: 4rem !important;

}

.current-match {
	font-size: 20rem !important;
}
