.header {
    font-size: 3vh !important;
    font-weight: bold !important;
    border: 1px solid black !important;

    padding-left: 1em !important;
}
.match-row{
    border: 1px solid black;
}
.match-cell{
    /*border-left: 1px solid black;*/
    /*border-right: 1px solid black;*/
    padding-left: 1em;
}
div .cell {
    font-size: medium;
    color: black;
}

.teams-table {
    background-color:white;
}
