:root {
    --afterTime: red;
    --onTime: gold;
    --aheadTime: green;
}

.timer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.CircularProgressbar{
    height: 100%;
    width: 100%;
}

.redTime > .CircularProgressbar-path {
    stroke: var(--afterTime);
}

.yellowTime > .CircularProgressbar-path {
    stroke: var(--onTime);
}

.greenTime > .CircularProgressbar-path {
    stroke: var(--aheadTime);
}

.redTime > .CircularProgressbar-text {
    fill: var(--afterTime);
}

.yellowTime > .CircularProgressbar-text {
    fill: var(--onTime);
}

.greenTime > .CircularProgressbar-text {
    fill: var(--aheadTime);
}

.CircularProgressbar-trail {
    stroke: white;
}

.timer-container > :first-child {
    height: calc(100% - 1rem);
    width: 100%;
}

.timer-container > :last-child {
    margin-top: 1rem;
    height: 1rem;
}
