:root {
    --afterTime: red;
    --onTime: gold;
    --aheadTime: green;
}

.CircularProgressbar{
    height: 100%;
    width: 100%;
}

.redTime > .CircularProgressbar-path {
    stroke: var(--afterTime);
}

.yellowTime > .CircularProgressbar-path {
    stroke: var(--onTime);
}

.greenTime > .CircularProgressbar-path {
    stroke: var(--aheadTime);
}

.redTime > .CircularProgressbar-text {
    fill: var(--afterTime);
}

.yellowTime > .CircularProgressbar-text {
    fill: var(--onTime);
}

.greenTime > .CircularProgressbar-text {
    fill: var(--aheadTime);
}

.CircularProgressbar-trail {
    stroke: white;
}

.timer-container {
    height: calc(100% - 3rem);
}
