.redTime > .CircularProgressbar-path {
    stroke: red;
}

.yellowTime > .CircularProgressbar-path {
    stroke: gold;
}

.greenTime > .CircularProgressbar-path {
    stroke: green;
}

.redTime > .CircularProgressbar-text {
    fill: red;
}

.yellowTime > .CircularProgressbar-text {
    fill: gold;
}

.greenTime > .CircularProgressbar-text {
    fill: green;
}

.CircularProgressbar-trail {
    stroke: gray;
}


.CircularProgressbar-background {
    fill: green;
}

#jello{
    background-color: black;
}
