body {
  background: url('~@first-lego-league/user-interface/current/assets/img/background_tile.jpg');
}


#fll-logo {
  background: url('~@first-lego-league/user-interface/current/assets/img/fll_logo_wide.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#challenge-logo {
  background: url('~@first-lego-league/user-interface/current/assets/img/challenge_logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
