body {
  background-color: black;
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  padding: 1vmin;
  font-size: 90%;
}

.grid-y {
  height: 100%;
}

.full-width {
  width: 100%
}

.full-height{
  height: 100%;
}

.fullscreen .show-on-hover {
  transition: linear 0.2s opacity;
  opacity: 0;
}

.fullscreen .show-on-hover:hover {
  opacity: 1;
}

.white-text {
  color: white;
}
